<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue实例</title>
    <script src="../../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="example">adca</div>
<hr>
<div id="demo">{{ fullName }}</div>
<hr>
<div id="app">
    <template v-if="ok">
        <p>哈喽</p>
    </template>
</div>
</body>
<!-- import Vue before Element -->
<script src="../../static/vue/dist/vue.min.js"></script>
<script>
    /*var data = {a:1};

    var vm = new Vue({
        data:data,
    });

    alert(data.a === vm.a);
    data.a = 2;

    alert(vm.a);*/

    /*var obj = {
        foo: 'bar'
    };
    //冻结对象
    Object.freeze(obj);

    var  vm2 = new Vue({
        el: '#app',
        data: obj
    });
    alert(vm2.foo);*/

    /* var data = {a: 1};
     var vm = new Vue({
         el: '#example',
         data: data
     });
     alert(vm.$data.a);
     alert(vm.$el.innerText);
     alert((vm.$data === data) + '和' + (vm.$el === document.getElementById('example')));

     vm.a = 2;
     // $watch 是一个实例方法
     vm.$watch('a', function (newValue, oldValue) {
         // 这个回调将在 `vm.a` 改变后调用
         alert("vm.a改变")
     })*/

    var vm = new Vue({
        el: '#demo',
        data: {
            firstName: 'Foo',
            lastName: 'Bar'
        },
        computed: {
            fullName: function () {
                return this.firstName + ' ' + this.lastName
            }
        }
    });

    /*var vm = new Vue({
        el: '#demo',
        data: {
            firstName: 'Foo',
            lastName: 'Bar',
            fullName: 'Foo Bar'
        },
        watch: {
            firstName: function (val) {
                this.fullName = val + ' ' + this.lastName
            },
            lastName: function (val) {
                this.fullName = this.firstName + ' ' + val
            }
        }
    });*/

    new Vue({
        el: '#app',
        data: {
            ok: true
        }
    })
</script>
</html>


