<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>表格</title>
    <script src="js/customer/resource.js"></script>
    <!--引入ueditor-->
    <script src="ueditor/ueditor.config.js"></script>
    <script src="ueditor/ueditor.all.js"></script>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        .el-row {
            width: 900px;
            margin: 10px auto;
        }

        .bg-purple {
            /*background: #d3dce6;*/
            text-align: right;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        #file {
            outline: 0.01rem;
            background-color: transparent;
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            height: 3.4rem;
            width: 100%;
        }

        .control-label {
            display: block;
            margin-bottom: 0.0rem;
            height: 2rem;
            line-height: 2rem;
            overflow: hidden;
            font-size: 16px;
            font-weight: 400;
        }

        #upload {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 2rem;
            border: 0.01rem solid #dedede;
            height: 2rem;
            width: 200px;
            margin-bottom: 10px;
        }

        span {
            font-weight: 400;
        }

        /*调整ueditor编辑器编辑框的行高,默认40px*/
        .el-form-item__content {
            line-height: 20px;
            position: relative;
            font-size: 14px;
        }

    </style>
</head>
<body>
<iframe id="ifile" style="display: none;"></iframe>
<div id="app">
    <el-form id="upload_form" :inline="true" align="center" size="small" style="width: 100%;margin: 0 auto">
        <el-row>
            <el-col :span="24" al>
                <el-form-item>
                    <el-input v-model="username1" placeholder="用户名"></el-input>
                </el-form-item>
                <el-button type="primary" @click="getUserList(1)" size="small" icon="el-icon-search">查 询</el-button>
                <template
                        shiro:hasAnyPermissions="user:addUser,export:exportUser1List,user:batchRemoveUser,sys:reloadPermission">
                    <el-button type="success" @click="toAdd" size="small" icon="el-icon-circle-plus-outline"
                               shiro:hasPermission="user:addUser">添 加
                    </el-button>
                    <el-button type="info" @click="exportUserExcel" size="small" icon="el-icon-download"
                               shiro:hasPermission="export:exportUser1List">导 出
                    </el-button>
                    <el-button type="danger" @click="batchRemove" size="small" icon="el-icon-delete"
                               shiro:hasPermission="user:batchRemoveUser">批量删除
                    </el-button>
                    <el-button type="primary" @click="init" :loading="loading" size="small" icon="el-icon-refresh"
                               shiro:hasPermission="sys:reloadPermission">初始化权限
                    </el-button>
                </template>
            </el-col>
        </el-row>
        <el-row shiro:hasAnyPermissions="export:exportUserExcelTemplate,import:exportImportUserExcel">
            <el-col :span="24" align="center">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="col-xs-6 control-label">选择上传文件:</label>
                        <div class="col-xs-5" id="upload">
                            <span v-html="selectFileFlag"></span>
                            <input type="file" @change="onChangeFile($event)" id="file" name="file" class="text-input"
                                   hidden>
                        </div>
                    </div>
                </div>
                <el-button class="btnexport" @click="showSelectFileWin()">浏览</el-button>
                <el-button class="btnexport" :loading="loading" @click="uploadFile($event)">批量上传</el-button>
                <el-button class="btnexport" @click="exportData()">模板下载</el-button>
            </el-col>
        </el-row>
    </el-form>

    <template>
        <!--添加弹出框内容-->
        <el-dialog title="添加用户" :visible.sync="dialogFormVisible" width="1000px">
            <el-form :model="user" :rules="rules" ref="user">
                <el-form-item label="用户名" prop="username" :label-width="formLabelWidth">
                    <el-col>
                        <el-input v-model="user.username" autocomplete="off"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="密 码" prop="password" :label-width="formLabelWidth">
                    <el-col>
                        <el-input v-model="user.password" autocomplete="off"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="创建日期" prop="createDate" :label-width="formLabelWidth">
                    <el-col>
                        <el-date-picker type="date" placeholder="选择日期" v-model="user.createDate"
                                        :clearable="false" :editable="false"
                                        :picker-options="createDateOptions"
                                        format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                        @change="createDateChange" style="width: 100%">
                        </el-date-picker>
                    </el-col>
                </el-form-item>
                <el-form-item label="店铺介绍" prop="remark" :label-width="formLabelWidth">
                    <el-col>
                        <div type="text/plain" id="editor" style="height: 320px;"></div>
                    </el-col>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="resetForm('user')">取 消</el-button>
                <el-button type="primary" @click="submitForm('user',addUser)">保 存</el-button>
            </div>
        </el-dialog>

        <!--表格-->
        <el-table height="500" highlight-current-row align="center" border
                  :data="userList"
                  style="width:100%; margin: 10px auto"
                  :row-class-name="tableRowClassName"
                  @selection-change="handleSelectionChange"
                  v-loading="listLoading"
                  element-loading-text="正在拼命加载中">
            <el-table-column type="selection" width="55" prop="id" align="center"></el-table-column>
            <el-table-column :show-overflow-tooltip="true" type="index" width="70" :index="mainIndex" label="序号"
                             align="center"></el-table-column>
            <el-table-column prop="id" label="编号" align="center"></el-table-column>
            <el-table-column prop="username" label="用户名" align="center"></el-table-column>
            <el-table-column prop="password" label="密码" align="center"></el-table-column>
            <el-table-column prop="createDate" label="创建日期" align="center" :formatter="dateFormat"></el-table-column>
            <el-table-column prop="remark" label="店铺介绍" align="center" :formatter="tableDataFormat">
                <template slot-scope="scope">
                    <div v-if='scope.row.remark == null || scope.row.remark.length === 0'>—— ——</div>
                    <!--显示html代码串-->
                    <div v-else v-html='scope.row.remark'></div>
                </template>
            </el-table-column>
            <el-table-column label="操作" align="center" width="200"
                             shiro:hasAnyPermissions="user:updateUser,user:removeUser">
                <template slot-scope="scope">
                    <!--跳转到编辑弹出框-->
                    <el-button shiro:hasPermission="user:updateUser" size="mini"
                               @click="handleEdit(scope.$index, scope.row)" icon="el-icon-edit-outline">编辑
                    </el-button>
                    <el-button shiro:hasPermission="user:removeUser" size="mini" type="danger"
                               @click="open2(scope.$index, scope.row)" icon="el-icon-delete">删除
                    </el-button>
                    <!--编辑弹出框内容-->
                    <el-dialog title="修改用户信息" :visible.sync="dialogFormVisible2" width="1000px">
                        <el-form :model="user" :rules="rules" ref="user">
                            <!--用于spring data jpa修改数据，必须要主键-->
                            <input type="hidden" v-model="user.id">
                            <el-form-item label="用户名" prop="username" :label-width="formLabelWidth">
                                <el-col>
                                    <el-input v-model="user.username" autocomplete="off"></el-input>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="密 码" prop="password" :label-width="formLabelWidth">
                                <el-col>
                                    <el-input v-model="user.password" autocomplete="off"></el-input>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="创建日期" prop="createDate" :label-width="formLabelWidth">
                                <el-col>
                                    <el-date-picker type="date" placeholder="选择日期" v-model="user.createDate"
                                                    :clearable="false" :editable="false"
                                                    :picker-options="createDateOptions"
                                                    format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                                    @change="createDateChange" style="width: 100%">
                                    </el-date-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="店铺介绍" prop="remark" :label-width="formLabelWidth">
                                <el-col>
                                    <div type="text/plain" id="editor2"></div>
                                </el-col>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="updateResetForm('user')">取 消</el-button>
                            <el-button type="primary" @click="submitForm('user',updateUser)">保 存</el-button>
                        </div>
                    </el-dialog>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--分页  默认layout="total, sizes, prev, pager, next, jumper" -->
    <div class="block" style="padding:0.1rem;">
        <el-pagination style="float: right" background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page="currentPage" :page-sizes="pageSizes" :page-size="pageSize"
                       layout="slot, sizes, prev, pager, next" :total="total">
            <span>共{{total}}条记录，第{{currentPage}}页，共{{totalPage}}页</span>
        </el-pagination>
    </div>
</div>
</body>

<script data-th-inline="javascript" src="js/views/table.js"></script>
</html>