<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>extjs使用</title>
    <link type ="text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-crisp/resources/theme-crisp-all.css" rel = "stylesheet"/>
    <script type ="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js" > </script>
    <script type="text/javascript">
        Ext.onReady(function() {
            Ext.create('Ext.Panel', {
                renderTo: 'helloWorldPanel',
                height: 200,
                width: 600,
                title: 'Hello world',
                html: 'First Ext JS Hello World Program'
            });
        });
    </script>
</head>
<body>
    <div id="helloWorldPanel" ></div>
</body>
</html>