<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="js/jquery.min.js"></script>
    <!-- import Vue before Element -->
    <script src="vue/dist/vue.min.js"></script>
    <script src="axios/dist/axios.min.js"></script>
    <!-- import element-ui JavaScript -->
    <script src="element-ui/lib/index.js"></script>
    <script src="js/util/verify.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div style="width: 100%">
    <div id="loginDiv" v-cloak>
        <el-form style="width: 500px;margin: 200px auto 0;" :model="user" status-icon :rules="rules" ref="user"
                 size="small"
                 :label-width="formLabelWidth" class="demo-ruleForm">
            <h2 style="width: 200px;margin: 15px auto;font: 500 25px 'Microsoft YaHei UI'">用户登录</h2>
            <el-form-item style="width: 350px" label="用户名" prop="username">
                <el-input v-model="user.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item style="width: 350px" label="密 码" prop="password">
                <el-input type="password" v-model="user.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item style="width: 220px;height:32px " label="验证码" prop="verify">
                <el-input v-model="user.verify" autocomplete="off"></el-input>
                <canvas id="canvas" width="120" height="32" onclick="updateVerify()"
                        style="width:120px;border-radius: 4px;position: relative;left: 108px;top: -33px;"></canvas>
            </el-form-item>
            <el-form-item align="left" style="width: 350px" prop="rememberMe">
                <el-checkbox v-model="user.rememberMe" name="rememberMe" autocomplete="off">记住我</el-checkbox>
            </el-form-item>
            <el-form-item align="left">
                <el-button type="primary" @click="submitForm('user')">登 录</el-button>
                <el-button @click="resetForm('user')">重 置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script>
    window.onload = function () {
        //初始化验证码
        // init();

        var vm = new Vue({
            el: '#loginDiv',
            data: {
                user: {
                    id: 0,
                    username: '',
                    password: '',
                    verify: '',
                    rememberMe: false
                },
                formLabelWidth: '120px',
                //表单验证
                rules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        // {min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur'}
                    ],
                }
            },
            created: function () {
                init();
                updateVerify();
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            vm.loginUser();
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                loginUser: function () {
                    /* axios({
                         method: 'POST',
                         url: 'login',
                         data: {
                             username: vm.user.username,
                             password: vm.user.password,
                             verify:vm.user.verify,
                             rememberMe:vm.user.rememberMe
                         },
                         responseType:'json'
                     }).then((response) => {
                         if (response.data.code === 0) {
                             // if (response.data.suc === 'suc') {
                             location.href = 'table'
                         } else {
                             vm.open("用户名或密码错误，请重试！","error")
                         }
                     });*/

                    $.ajax({
                        type: 'POST',
                        url: 'login',
                        data: {
                            username: vm.user.username,
                            password: vm.user.password,
                            verify: vm.user.verify,
                            rememberMe: vm.user.rememberMe
                        },
                        dataType: 'json',
                        success: function (data) {

                            if (data.code === 0) {
                                localStorage.setItem("username", vm.user.username);

                                location.href = 'index.html'
                            } else {
                                //更新验证码
                                updateVerify();
                                vm.open(data.msg, "error")
                            }
                        }
                    })
                },
                //提示窗
                open(message, type) {
                    this.$message({
                        showClose: true,
                        message: message,
                        type: type
                    });
                }

            }
        });

    };

    function setCookie(name, value) {
        /*wiki 上的世界末日*/
        var exp = new Date(0x7fffffff * 1e3);
        document.cookie = name + "=" + decodeURI(value) + ";expires=" + exp.toUTCString();
    }

    //取cookies函数
    function getCookie(name) {
        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
        if (arr != null) return decodeURIComponent(arr[2]);
        return null;
    }
</script>
</body>
</html>