<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue实例</title>
    <script src="../../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/element-ui/lib/theme-chalk/index.css">
    <style>
        .text-danger {
            color: red;
        }

        .second {
            font-size: 100px;
        }
    </style>
</head>
<body>
<div id="app">
    <h2 v-bind:class="{'text-danger':ok,second:bOk}">hello</h2>
</div>
<hr>
<ul id="v-for-object" class="demo">
    <div v-for="(value,key,index) in object">
        {{index+1}}. {{key}} : {{ value }}
    </div>
    <li v-for="user in arr">{{user.id}}-{{user.username}}</li>
</ul>
<hr>
</body>
<script src="../../static/vue/dist/vue.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            ok: true,
            bOk: true
        }
    });

    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            },
            arr:[{
                id:1,
                username:'xhg'
            },{
                id:2,
                username:'徐宏光'
            }]
        }
    })
</script>
</html>